body {
    font-family: Rubik;
    font-size: 18px;
    --main-color: #FCB500;
    --main-bg-color: #111111;
    --light-font-color: #FFFFFF;
    --dark-font-color: #000000;
}

/* * BURGER MENU START*/

/* BURGER BUTTON START*/

.nav-toggle {
    display: none;
}

.nav-toggle-label {
    position: absolut;
    display: none;
    flex-direction: column;
    height: 31px;
    padding: 0 0 0 15px;
    cursor: pointer;
}

.burger__line {
    width: 25px;
    height: 3px;
    margin: 3px;
    background-color: var(--main-color);
    transition: 0.3s;
}

.burger__line--two {
    transition: 0s;
}

.nav-toggle-label.active .burger__line--one {
    transform: rotate(-45deg) translate(-6px, 7px);
}

.nav-toggle-label.active .burger__line--two {
    visibility: hidden;
}

.nav-toggle-label.active .burger__line--tree {
    transform: rotate(45deg) translate(-5px, -7px);
}

/* BURGER MENU START */

@media screen and (min-width: 768px) {
    .main-menu {
        display: none;
    }
}

.main-menu__link {
    text-decoration: none;
    padding: 10px;
    font-size: 1.2rem;
}

.main-menu__link:active,
.main-menu__link:hover {
    color: var(--main-color);
}

nav.main-menu.active {
    width: 100%;
    transform: scaleX(1);
    transition: all 0.3s ease;
}
@media screen and (max-width: 767.98px) {
    .nav-bar {
        height: 50px;
        padding: 0;
        justify-content: space-between;
        align-items: center;
        background-color: rgba(20, 49, 31, 0.5);
    }
    .nav-toggle-label {
        display: flex;
    }
    .main-menu {
        position: absolute;
        text-align: center;
        background: var(--main-bg-color);
        left: 0;
        width: 0;
        z-index: 15;
        transform: scaleX(0);
        transform-origin: left;
        transition: 0.3s ease;
    }

    .main-menu__link {
        display: block;
        color: var(--light-font-color);
        padding: 20px;
        font-size: 18px;
    }
}
