/* * BASE START */

body {
    font-family: Rubik;
    font-size: 18px;
    --main-color: #FCB500;
    --main-bg-color: #111111;
    --light-font-color: #FFFFFF;
    --dark-font-color: #000000;
}

body {
    background-color: var(--main-bg-color);
    color: var(--light-font-color);
}

.wrapper {
    max-width: 1342px; 
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
    /* flex: пропорции пространства внутри контейнера, коэффициент сжатия, начальный размер контейнера; */
}

/* Обращение ко всем объектам в классе которого встречается такая строка */
/* [class*="__container"] {
    max-width: 1312px;
    margin: 0 auto;
} */

/* * HEADER START */

.header {
}

.header__container {
    display: flex;
    min-height: 80px;
    align-items: center;
}

.header__logo {
    margin-right: 40px;
}

.header__menu {
    flex: 1 1 auto;
}

.header__button {
    position: relative;
    flex: 0 0 144px;
    display: flex;
    justify-content: flex-end;
}



.button__basket {
    width: 33px;
    height: 30px;
    background: url(../img/basket.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    cursor: pointer;
}

.button__counter-goods {
    width: 16px;
    height: 16px;
    position: absolute;
    right: -6px;
    top: 22px;
    padding-top: 2px;
    background-color: var(--main-color);
    color: var(--dark-font-color);
    font-size: 12px;
    text-align: center;
    border-radius: 10px;
}

.button {
}


.menu {
    display: flex;
    justify-content: flex-end;
}

.menu__list {
    display: flex;
    gap: 50px;
}




.menu__item {
    text-align: center;
    /* padding-right: 40px; */
}


.menu__link {
    color: var(--light-font-color);
    transition: 0.7s;
}

.menu__link:hover {
    color: var(--main-color);
}

/* * PROMO START */

.promo__container {
    background: url(../img/bg-promo-section.png) no-repeat center;
    background-color: #fad11d;
    background-size: cover;
}

.promo__content {
    position: relative;
}

.promo__slogan-wrapper, .promo__text-wrapper {
    position: relative;
    z-index: 10;
}

.promo__slogan {
    padding: 104px 0 30px 0;
    font-weight: 700;
    font-size: 144px;
    text-transform: uppercase;
    line-height: 152px;
    /* font-size: calc(40px + 104 * (100vw / 1440px)); */
}

.promo__text--1 {
    font-size: 24px;
    color: var(--dark-font-color);
    line-height: 28px;
}

.promo__image {
    position: absolute;
    top: -75px;
    right: -60px;
    z-index: 5;
}

.promo__image-wrapper {
    max-width: 800px;
}

.promo__image-nootris {
    width: 100%;
}

.image-nootris {
}

.promo__text-wrapper {
}

.promo__title {
    padding: 110px 0 10px 0;
    font-weight: 700;
    font-size: 36px;
    color: var(--dark-font-color);
    line-height: 43px;
    text-transform: uppercase;
}

.promo__text--2 {
    padding-bottom: 96px;
    color: var(--dark-font-color);
    line-height: 21px;
}



/* * ORDER START */

.order-section__container {
    position: relative;
    z-index: 1;
    margin-top: 110px;
}

.order-section__text {
    margin: 0 auto;
    margin-bottom: 75px;
    text-align: center;
    font-weight: 700;
    font-size: 48px;
    line-height: 57px;
}
.order-section__text_discount {
    color: var(--main-color);
}
.order__container {
    margin: 0 auto;
    margin-bottom: 64px;
    display: grid;
    grid-template-columns: 1fr 700px 1fr;
    grid-template-rows: 400px;
    justify-items: center;
}
.order__item {
}
.order__ginger {
}
.ginger__image-wrapper, .virus__image-wrapper {
    margin-top: 115px;
}
.ginger__image {
}
.ginger__text {
}
.order__text_main {
    color: var(--main-color);
}
.order__nootris {
}
.nootris__price {
    margin-bottom: 55px;
    text-align: center;
}

.nootris__price, .nootris__text, .virus__text, .ginger__text {
    text-align: center;
    line-height: 21px;
}

.virus__text, .ginger__text {
    margin-top: 78px;
}


.nootris__price_old {
    margin-right: 32px;
    color: #ADADAD;
    font-size: 36px;
    line-height: 43px;
    text-decoration: line-through;
}
.nootris__price_new {
    font-size: 48px;
    line-height: 57px;
}
.nootris__image-wrapper {
}
.nootris__image {
}
.nootris__text {
    margin-top: 42px;
    font-size: 36px;
    line-height: 43px;
}

.order__text_nootris {
    margin-top: 8px;
    text-align: center;
    font-size: 24px;
    line-height: 28px;
}
.order__virus {
}
.virus__image-wrapper {
}
.virus__image {
}
.virus__text {
}

.order__button {
    max-width: 256px;
    margin: 0 auto;
    color: var(--dark-font-color);
    background-color: var(--main-color);
    font-size: 18px;
    line-height: 2.1;
    padding: 10px 55px;
    border-radius: 7px;
    transition: 0.5s;
    margin-bottom: 112px;
}

.order__button:hover {
    background-color: #a8811d;
}

.button {
}



/* * BURGER */

body {
    overflow-x: hidden;
}

.burger {
    display: none;
    cursor: pointer;
}
@media (max-width: 767.98px) {
    .burger {
        display: block;
    }
}

.line {
    width: 25px;
    height: 3px;
    margin: 5px;
    margin-left: 30px;
    background-color: var(--main-color);
    transition: all 0.4s ease;
}

.menu__item {
    text-align: center;
    /* opacity: 0; */
    /* padding-right: 40px; */
}

.nav__active {
    transform: translateX(0px);
}

@keyframes nav-links-fade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

